#battlefield {
    width: 70vw;
    height: 70vh;
    background-color: rgb(233, 231, 205);
    display: block;
    text-align: left;
}

#battleInfos {
    width: 70vw;

    .balance-bar {
        display: inline-block;
        height: 10px;
    }
}