.main-menu {
  .menu-header {
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .menu-actions {
    button {
      margin: 0px 10px;
    }
  }
}

#choices-container {
  .choices-list {
    float: left;

    .choice {
      border: 3px solid white;
      display: inline-block;
      margin: 20px 50px;

      h2 {
        margin: 20px 50px;
      }

      img {
        object-fit: cover;
        margin: 10px 50px;
        max-width: 100px;
      }

      &:hover,
      &:active {
        background-color: rgb(160, 160, 160);
      }
    }
  }
}